@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>We are a family organized into a corporate enterprise, dedicated to serving the United States Postal Service with superior quality transportation and supply chain services that provide for an adequate return on investments to sustain the future growth of the corporation and security for employees.</p>